# Віртуальне середовище
.venv/
venv/
env/

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Тимчасові файли та папки нашого додатку
uploads/
*.docx

# Файли середовища (на випадок, якщо ти створиш .env локально)
.env

# Налаштування редакторів коду
.vscode/
.idea/
